extends layout

block content
  form(class="form" action="/limit?_method=PUT", method='POST')
    input(class="field" type="number" name="limit" placeholder="limit" value='#{limit.limit}')
    br
    button(type="submit") Submit

  a(href='/item') Cancel

