extends layout

block content
  form(action="/item/#{item.id}?_method=PUT", method="POST")
    input(type="text" name="input" placeholder="item" value='#{item.item}')
    input(type="number" name="calories" placeholder="calories" value='#{item.calories}')
    input(type="number" name="quantity" placeholder="quantity" value='#{item.quantity}')
    button(type="submit") Submit
