extends layout

block content
  div(class="form")
    form( action="/item" name="addInput" method="POST")
      input(class="field" type="text" name="input" placeholder="ITEM")
      br
      input(class="field" type="number" name="calories" placeholder="CALORIES")
      br
      input(class="field" type="number" name="quantity" placeholder="QUANTITY")
      br
      label(class="container" for="favorite") FAVORITE?
        br
        input(id="favorite" type="checkbox" name="favorite" value='true')
        span(class="checkmark")
      br
      button(type="submit") Submit

  a(href='/item') Cancel
