extends layout

block content
  div(class="form")
    form( action="/item" name="addInput" method="POST")
      input(class="field" type="text" name="input" placeholder="ITEM")
      br
      input(class="field" type="number" name="calories" placeholder="CALORIES")
      br
      input(class="field" type="number" name="quantity" placeholder="QUANTITY")
      br
      select(class="select" name="unit")
        option(value="Unit") Unit
        option(value="tsp") tsp
        option(value="Tbsp") Tbsp
        option(value="Cup") Cup
      br
      label(class="container" for="favorite") FAVORITE?
        br
        input(id="favorite" type="checkbox" name="favorite" value='true')
        span(class="checkmark")
      br
      button(class="button" type="submit") Submit
      a(href='/item')
        button(class="button") Cancel
