extends layout

block content
  form(action="/item" name="addInput" method="POST")
    input(type="text" name="input" placeholder="item")
    input(type="number" name="calories" placeholder="calories")
    input(type="number" name="quantity" placeholder="quantity")
    label(for="favorite") Favorite?
    input(id="favorite" type="checkbox" name="favorite" value='true')
    button(type="submit") Submit

  a(href='/item') Cancel
